/* ./styles/globals.css */
@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./button.css";

@import "tailwindcss/utilities";

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

.bg-theme {
  background: linear-gradient(
    120deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(48, 1, 80, 1) 35%,
    rgba(83, 0, 172, 1) 100%
  );
}

.hov-bg-theme:hover {
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.8);
}

.text-theme {
  color: #bad6fc;
}

@media (min-width: 768px) {
  .text-theme {
    color: #60a5fa;
  }
}
